* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: rgb(251,255,229);
}

@media screen and (max-width: 768px) {
    body {
        font-size: 80%;
    }
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul {
    padding: 0;
}

form * {
    margin: 0.25em 0 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.mainContainer {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
}

.app {
    width: 100%;
    flex: 0 0 85%;
    border: solid 1px gray;
}

.app-header {
    border: solid 1px gray;
}

.app-main {
    border: solid 1px gray;
}

.navList {
    list-style-type: none;
}

.navList-item {
    display: inline;
    padding: 0 0.5em 0 0;
}

.navList-item_is-selected {
    text-decoration: underline;
}

.appItemsList {
    list-style-type: none;
    margin: 0;
}

.appItemsList-item {
    padding: 0 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appItemsList-item-detailsLink:visited {
    color: rgb(153, 153, 153);
}

.appItemMeta {
    color: rgb(153, 153, 153);
    font-size: 80%;
    margin: 0;
    padding: 0.25em 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appItemFullText {
    word-break: break-all;
}

.nameAndTextForm {
    padding: 1em 0 0;
}

.nameAndTextForm-textInput {
    width: 50%;
}

.nameAndTextForm-textTextAreaInput {
    height: 8em;
    resize: none;
}

.nameAndTextForm-postButton {
    margin: 1em 0 0;
    padding: 0.25em 1em;
    border: 1px solid rgb(148,137,121);    
}

.invalidElement {
    border: 0.15em solid red !important;
}

.errorMessage {
    padding-top: 0.25em;
    color: rgb(255, 0, 0);
}