* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

h4 {
    font-weight: 700;
}

legend {
    font-weight: 700;   
}

.content {
    padding: 2em 1em 0;
}

.textarea-text {
    height: 25em;
}

.appItemMeta {
    color: rgb(153, 153, 153);
    font-size: 95%;
    margin: 0;
    padding: 0 0 0 2em;
}

.appItemList {
    list-style-type: none;
}

.appItem {
    padding: 0.25em 0 0.25em;
}

.appItem-detailsLink {
    color: rgb(0, 119, 204);
}

.questionDetails-question {
    padding: 0 0 0.5em;
}

.invalidElement {
     border: 0.15em solid red !important;
}

.errorMessage {
    padding-top: 0.25em;
    color: rgb(255, 0, 0);
}